body {
    text-align: center;
    font-family: 'Nimbus Sans';
    font-size: 18px;
}

.container {
    width: 600px;
    margin: 40px auto;
    font-weight: bolder;
    border: 5px solid black;
    border-radius: 10px;
    padding: 8px;
    color: black;
    display: grid;
    grid-template-areas: 
    "header header" 
    "aside main"
    "nav main"
    "footer footer";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1.3fr;
}

header {
    /* grid area adalah index penamaan dari grid-template-areas */
    grid-area: header;
    background-color: rgb(130, 141, 238);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 aside {
    grid-area: aside;
    background-color: rgb(238, 165, 238);
    padding: 80px 0;
}

nav {
    grid-area: nav;
    background-color: coral;
    padding: 100.5px 10px;
}

main {
    grid-area: main;
    background-color: darkcyan;
    padding: 171.5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: grey;
    padding: 28px 0;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}